__pycache__
.vscode
.idea

all excels
logs

# Ignore generated resumes and PDFs but keep the LaTeX template
all resumes/*
!all resumes/template/
all resumes/template/*
!all resumes/template/resume_template.tex

old

secrets.py
config/personals.py
.venv
apikeys.py